<div class="card">
  <div class="card-header">
    <h5 class="card-title">Donasi Bentuk Dana</h5>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-wrench"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <a href="#" class="dropdown-item">Action</a>
          <a href="#" class="dropdown-item">Another action</a>
          <a href="#" class="dropdown-item">Something else here</a>
          <a class="dropdown-divider"></a>
          <a href="#" class="dropdown-item">Separated link</a>
        </div>
      </div>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12 float-right my-3">
        <%= link_to new_donate_path, remote: true, data: {toggle: "modal", target: "#donate-add"} do %>
          <button type="button" class="btn btn-block btn-info btn-lg">Tambah Data
          </button>
        <% end %>
      </div>
    </div>
    <%= render 'donates/table_donates' %>
  </div>
</div>