<div class="card">
  <div class="col-12">
      <p>
        Jazakillah Khairan Katsiira kepada <b><%= @donate.donator %></b> atas kepercayaannya menitipkan donasi berupa <b><%= @donate.category %></b> sebesar <b><%= @donate.amount %></b>
      </p> 
      <br>
      <p>
        Semoga Allah membalas dengan pahala yang berlipat. Aamin.
      </p>
  </div>
</div>

