<div class="col-12 wrapper-all">
  <div class="row">
    <span class="border-bottom">
      <%= wicked_pdf_image_tag 'logo-assalam.png', class: "logo-header", style: "width: 120px;" %>
    </span>
  </div>

  <div class="row">
    <p>
      Bismillahirrahmanirrahim, <br/>
      Terimakasih kepada <b><%= @donate.donator %></b> atas kepercayaannya menitipkan donasinya  sebesar <b> <%= number_to_currency(@donate.amount, unit: "Rp ") %></b> kepada kami.

      <br />
      <br />

      Semoga Allah membalas dengan pahala yang berlipat atas apa yang telah diberikan, menjadikannya suci dan mensucikan, serta Allah memberikan keberkahan atas harta yang tersisa. Aamin.
    </p>
  </div>

  <div class="row">
    <div class="col-6 float-right">
      <p class="">
        Cimahi, <%= @donate.date_donate.to_formatted_s(:rfc822) %>
        <br />
        <br />
        <br />
        a.n Yayasan As Salam, <br />
        M. Badri
      </p>
    </div>
  </div>
</div>

