<!DOCTYPE html>
<html>
<head>
  <title>AsSalam</title>
  <style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <%= wicked_pdf_stylesheet_link_tag "application_pdf" -%>
  </style>
</head>
<body style="font-family: 'Roboto Slab', 'serif';">
  <%= yield %>
</body>
</html>